{%extends 'base.html'%}

{%block content%}

    <div class="container card card-body contenedor-bienvenida mt-4 mb-5">
        <h1 class="text-center fw-bold tituloBienvenida">tusTareasPlus</h1>
        <p class="parrafo-bienvenida"> Hola, bienvenido a <span class="text-primary">tusTareasPlus</span>! La aplicación que te ayudará a organizar tus tareas diarias de manera fácil y eficiente. Gracias por elegirnos. ¡Mucho éxito con tus tareas! Esperamos que sean fáciles de completar. 😊 </p>
        <div class="botones d-flex justify-content-center align-items-center gap-3">
            <a class="btn btn-primary" href="/signup">Registrarse</a>
            o
            <a class="btn btn-success" href="/signIn">Iniciar sesión</a>
        </div>
    </div>

{%endblock%}

