{%extends 'base.html'%}

{%block content%}

    <h1 class="text-center mt-3 fs-1 border-3 border-bottom border-success d-flex align-center justify-content-center w-100 pb-2">Estas son tus tareas completadas.</h1>

    <section class="tasks container-fluid row w-100">
            {%for task in tasks%}
                <div class="col-sm-12 col-xl-6 col-lg-4 col-md-4 d-flex justify-content-center align-items-center p-4">
                    <div class="task p-4 h-100 w-75 bg-dark text-light rounded-2 card card-body">
                        <h1 class="card-title">
                            {{task.title}}
                        </h1>
                        <p class="card-text">
                            {{task.description}}
                        </p>
                        <p class="card-text">
                            {%if task.important == True%}
                                Tarea importante ⚠️
                            {%endif%}
                        </p>
                        <p>📅Tarea creada el día: {{task.created|date:'D M Y H:i A'}}</p>
                        <p>📅Tarea completada el día: {{task.datecompleted|date:'D M Y H:i A'}} </p>
                    </div>
                </div>
            {%endfor%}
    </section>

    <p class="mensajeError bg-danger text-center text-light w-75 m-auto mt-4 p-3 rounded-3">{{noTasks}}</p>

{%endblock%}