@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Raleway';
    user-select: none;
}

.task{
    box-shadow: 7px 8px 15px rgba(0, 0, 0, 0.7);
}

nav .nav-link:hover{
    text-decoration: underline;
    transition: .8s;
}

.contenedor-bienvenida{
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.7);
}

.tituloBienvenida{
    font-size: 60px;
}

.parrafo-bienvenida{
    font-size: 20px;
}

.formAutenticacion{
    width: 500px;
    box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.7);
}

.formAutenticacion input{
    width: 350px;
}

.tituloCrearTarea{
    font-size: 50px;
}

.contendedorFormCreateTask{
    width: 700px;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.7);
}

.tarea{
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
}

.tarea:hover{
    background-color: #daeeaa;
}

.contenedorDetallesTarea{
    width: 400px;
}

@media (max-width:800px){
    .tituloBienvenida{
        font-size: 37px;
    }
    .contenedor-bienvenida{
        width: 350px;
    }
    .tituloRegistro{
        font-size: 35px;
    }
    .formAutenticacion{
        height: auto;
        width: 320px;
    }
    .formAutenticacion input{
        width: 300px;
    }
    .contendedorFormCreateTask{
        width: 340px;
    }
    .contenedorDetallesTarea{
        width: 340px;
    }
}