body{
    font-family:'Courier New', Courier, monospace;
    user-select: none;
}

.task{
    box-shadow: 7px 8px 15px rgba(0, 0, 0, 0.7);
}

nav .navbar-nav .nav-item .nav-link{
    background-color: red;
}